---
import { getEntry } from 'astro:content'
import Backtrack from '@ac/Backtrack.astro'
import BaseLayout from '@layouts/Safari.astro'
import { PostComponent } from '@rc/posts'
import { client } from '../../../tina/__generated__/client'

Astro.response.headers.set('Cache-Control', 'max-age=0')
Astro.response.headers.set('Cache-Control', 's-maxage=0')

const { slug } = Astro.params

// @ts-ignore
const posts = await getEntry('posts', slug)

if (posts === undefined) {
	return Astro.redirect('/404')
}

const data = Astro.locals
const { host, referer } = data
console.log("host", host)
console.log("referer", referer)
console.log("split", host && referer?.split(host))

const response = await client.queries.posts({ relativePath: `${slug}.mdx` })
if (!response.data.posts.published && !client?.initialized) {
  return Astro.redirect('/404')
}
---

<style>
  .sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #eee;
  }
</style>
<BaseLayout content={posts.data}>
  <div class="sticky">
    <Backtrack url="/blog" title="back to 🪴 garden" />
  </div>
  {/* @ts-ignore */}
  <PostComponent client:tina {...response} />
</BaseLayout>
