---
import { isAdmin as isAdminUrl } from '@/lib/tina'
import type { Posts, PostsQuery } from 'tina/__generated__/types'
import { client } from '../../../tina/__generated__/client'

import Backtrack from '@ac/Backtrack.astro'
import Safari from '@layouts/Safari.astro'
import { PostComponent } from '@rc/posts'

Astro.response.headers.set('Cache-Control', 'max-age=0')
Astro.response.headers.set('Cache-Control', 's-maxage=0')

const { slug } = Astro.params
const { host, referer } = Astro.locals

const isAdmin = isAdminUrl({ host, referer })
const response: {
	data: PostsQuery
	variables: { relativePath: string }
	query: string
} = await client.queries.posts({ relativePath: `${slug}.mdx` })
const post = response.data.posts as Posts

if (!post.published && !isAdmin) {
	return Astro.redirect('/404')
}
---

<style>
  .sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #eee;
  }
</style>
<Safari content={{ title: post.title, description: post.description }}>
  <div class="sticky">
    <Backtrack url="/blog" title="back to 🪴 garden" />
  </div>
  {/* @ts-ignore */}
  <PostComponent client:tina {...response} />
</Safari>
