---
import { getCollection } from "astro:content";

import { SITE_DESCRIPTION, SITE_TITLE } from "@/config";
import BaseLayout from "@layouts/Safari.astro";

const postsCollection = await getCollection("posts");

const posts = postsCollection.sort(
  (a, b) =>
    new Date(b.data.pubDate as string).valueOf() -
    new Date(a.data.pubDate as string).valueOf(),
);

const contentHeader = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
};

const LocaleConfig: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "2-digit",
};
---

<style>
  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li time {
    font-style: italic;
    font-family: monospace;
    font-size: 1.2em;
    padding-top: 0.2ch;
    margin-right: 2ch;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
  .col {
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    display: flex;
  }
  .row {
    display: flex;
    width: 100vw;
    a:last-child {
      align-self: flex-start;
      margin-left: -1ch;
    }
    :first-child {
      align-items: flex-end;
    }
  }
</style>
<BaseLayout content={contentHeader}>
  <section class="font-sans pt-4">
    <ul>
      {
        posts.map((post) => (
          <li>
            <div class="row">
              <div class="col">
                <time datetime={post.data.pubDate as string}>
                  {new Date(post.data.pubDate as string).toLocaleDateString(
                    "en-us",
                    LocaleConfig,
                  )}
                </time>
              </div>
              <div class="col">
                <a href={`blog/${post.slug}`}>{post.data.title}</a>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
