---
import BaseHead from '../../components/BaseHead.astro'
import Browser from '../../components/Browser.astro'
import TravelsMenu from '../../components/TravelsMenu.astro'

import { getCollection } from 'astro:content'
const jordanAssets = await getCollection('jordan')
const hanoiAssets = await getCollection('hanoi')
const israelAssets = await getCollection('israel')

import { SITE_DESCRIPTION, SITE_TITLE } from '../../config'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
  <body class="max-w-full flex flex-col min-h-screen items-center lg:flex-row">
    <div class="hidden lg:block lg:w-1/5" />

    <!-- Main content area -->
    <main class="w-full bg-white lg:w-3/5">
		  <Browser>
		  	<div class="content mt-4">
          <TravelsMenu assets={[...jordanAssets, ...israelAssets, ...hanoiAssets]} />
			  </div>
		  </Browser>
    </main>
    <div class="hidden lg:block lg:w-1/5" />
	</body>
</html>

<style>
	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
    :visited {
        text-decoration-color: #EEE;
    }
</style>
