---
import TravelsMenu from '@ac/TravelsMenu.astro'
import BaseLayout from '@layouts/Safari.astro'

import { getCollection } from 'astro:content'
const jordanAssets = await getCollection('jordan')
const hanoiAssets = await getCollection('hanoi')
const israelAssets = await getCollection('israel')

import { SITE_DESCRIPTION, SITE_TITLE } from '@/config'
---

<BaseLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
  <div class="content mt-4 rounded-lg">
    <TravelsMenu server:defer assets={[...jordanAssets, ...israelAssets, ...hanoiAssets]} />
  </div>

  <div class="hidden lg:block lg:w-1/5"></div>
  <style>
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    :visited {
      text-decoration-color: #eee;
    }
  </style>
</BaseLayout>
