---
import TravelsMenu from '@ac/TravelsMenu.astro'
import BaseLayout from '@layouts/Safari.astro'

import { getCollection } from 'astro:content'

// type-guard
const isFulfilled = <T, _>(p: PromiseSettledResult<T>): p is PromiseFulfilledResult<T> =>
	p.status === 'fulfilled'
const results = await Promise.allSettled([
	getCollection('jordan'),
	getCollection('hanoi'),
	getCollection('israel'),
])
const jordanAssets = isFulfilled(results[0]) ? results[0].value : []
const hanoiAssets = isFulfilled(results[1]) ? results[1].value : []
const israelAssets = isFulfilled(results[2]) ? results[2].value : []

import { SITE_DESCRIPTION, SITE_TITLE } from '@/config'
---

<BaseLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
    <div class="content mt-4 rounded-lg">
        <TravelsMenu
            server:defer
            assets={[...jordanAssets, ...hanoiAssets, ...israelAssets]}
        />
    </div>

    <div class="hidden lg:block lg:w-1/5"></div>
    <style>
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        :visited {
            text-decoration-color: #eee;
        }
    </style>
</BaseLayout>
