---
import { getCollection } from 'astro:content'

import BaseLayout from '@layouts/Safari.astro'
import { ProjectCard } from '@rc/Card'

import { SITE_DESCRIPTION, SITE_TITLE } from '@/config'

const projectsCollection = await getCollection('projects')

const projects = projectsCollection.sort(
	(a, b) => Number(new Date(b.data.pubDate.valueOf())) - Number(new Date(a.data.pubDate.valueOf()))
)

const contentHeader = {
	title: SITE_TITLE,
	description: SITE_DESCRIPTION,
}
---

<style>
  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    justify-content: space-evenly;
    gap: 0;
    margin-top: 1.5ch;
  }
</style>
<BaseLayout content={contentHeader}>
  <div class="project-content">
    {
      projects.map((proj) => (
        <ProjectCard
          className=""
          title={proj.data.title}
          footer={`Updated ${new Date(proj.data.pubDate).toLocaleDateString(
            "en-us",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
            },
          )}`}
          url={`/projects/${proj.slug}`}
        >
          {proj.data.description}
        </ProjectCard>
      ))
    }
  </div>
</BaseLayout>
