---
import BaseLayout from '@layouts/Safari.astro'
import { ProjectCard } from '@rc/Card'

import { SITE_DESCRIPTION, SITE_TITLE } from '@/config'
import client from 'tina/__generated__/client'

const projectsResponse = await client.queries.projectsConnection({
	sort: 'pubDate',
	last: -1,
  filter: { published: { eq: true } },
})

const projectsFromTina = projectsResponse.data.projectsConnection.edges?.map((projects) => {
	return {
		slug: projects?.node?._sys.filename,
		data: {
			title: projects?.node?.title,
			pubDate: projects?.node?.pubDate,
			description: projects?.node?.description,
		},
	}
})

const contentHeader = {
	title: SITE_TITLE,
	description: SITE_DESCRIPTION,
}
---

<style>
  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    justify-content: space-evenly;
    gap: 0;
    margin-top: 1.5ch;
  }
</style>
<BaseLayout content={contentHeader}>
  <div class="project-content">
    {
      projectsFromTina?.map((proj) => (
        <ProjectCard
          className=""
          title={proj.data.title}
          footer={`Updated ${new Date(proj.data.pubDate as string).toLocaleDateString(
            "en-us",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
            },
          )}`}
          url={`/projects/${proj.slug}`}
        >
          {proj.data.description}
        </ProjectCard>
      ))
    }
  </div>
</BaseLayout>
